{% extends 'base.html.twig' %}

{% block header_img %}<img class="slide-image" src="{{ asset('img/todolist_content.jpg') }}" alt="todo list">{% endblock %}

{% block body %}
    <div style="width: 100%; height: 34px; margin-bottom: 5px;">
        <a href="{{ path('task_create')}}" class="btn btn-info pull-right">Créer une tâche</a>
    </div>
    <div class="row">
        {% set i = 1 %}
        {% for task in tasks %}
            {% if task.isDone %}
                <div class="col-sm-4 col-lg-4 col-md-4">
                    <div class="thumbnail">
                        <div class="caption">
                            <h4 class="pull-right">
                                {% if task.isDone %}<span class="glyphicon glyphicon-ok"></span>{% else %}<span class="glyphicon glyphicon-remove"></span>{% endif %}
                            </h4>
                            <h4><a href="{{ path('task_edit', {'id' : task.id }) }}">{{ task.title }}</a></h4>
                            <p>{{ task.content }}</p>
                            <p>{{ task.user.username }}</p>
                        </div>
                        <div>
                            <form action="{% if task.isDone %}{{ path('task_toggle_cancel', {'id' : task.id }) }}{% else %}{{ path('task_toggle', {'id' : task.id }) }}{% endif %}">
                                <button class="btn btn-success btn-sm pull-right">
                                    {% if task.isDone %}Marquer non terminée{% else %}Marquer comme faite{% endif %}
                                </button>
                            </form>
                            {% if app.user.roles[0] == "ROLE_ADMIN" or app.user == task.user %}
                                <form action="{{ path('task_delete', {'id' : task.id }) }}">
                                    <button class="btn btn-danger btn-sm pull-right">Supprimer</button>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% elseif loop.length - i == 0 %}
                <div class="alert alert-warning" role="alert">
                    Il n'y a pas encore de tâche enregistrée. <a href="{{ path('task_create') }}" class="btn btn-warning pull-right">Créer une tâche</a>
                </div>
            {% else%}
                {% set i = i + 1 %}
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}